<div>
  <div class="position">
  <mat-card>
    <div class="row">
    <div><mat-icon [class]="val">{{icon}}</mat-icon></div>
  &nbsp;<div><button mat-button (click)="openDialog()">Pick Icon</button></div>
</div>
</mat-card>
</div>
    <div><h2 style="text-align:center">Result :{{total}} </h2></div>
    <div style="width:100%"  id="container">
      <highcharts-chart
      [Highcharts]="Highcharts" [options]="chartOptions"
      style="height: 400px; display: block; min-width:0px;"></highcharts-chart>
  </div>
</div>


